---

#    aws:
#        engine: e1 -> t1
#        engine_ip: 10.8.1.1 -> 10.5.1.11
#        engine_int: eth4
#    google:
#        engine: e2 -> t1
#        engine_ip: 10.8.1.2 -> 10.5.1.12
#        engine_int: eth4

devices:
  engines:
    e1: 10.8.1.1
    e2: 10.8.1.2 
  traffic:
    aws:
        engine: e1 
        engine_ip: 10.8.1.1
        engine_int: eth4
    google:
        engine: e2 
        engine_ip: 10.8.1.2
        engine_int: eth4

cloud:
  local:
    config:
      server: x.x.x.x
      region: 
      zone:  
      interface: eth2

sdn:
  rest:
    server: https://selfservice.pureport.com
    token: xxxxxxx
  os:
    os_user: admin
    os_pass: secret
    os_authurl: http://internal-dev1-openstack-internal-lb-196366951.us-east-1.elb.amazonaws.com:5000/v3/ 
    os_tenant: admin 
    os_controller: internal-dev1-openstack-internal-lb-196366951.us-east-1.elb.amazonaws.com 
...
