---
cloud:
  aws:
    config:
      region: us-east-1
      output: json
    credentials:
      aws_access_key_id: AKIAI56SJMCM7TUIF6BQ
      aws_secret_access_key: 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
  local:
    config:
      server: x.x.x.x
      region: 
      zone:  
      interface: eth2

sdn:
  rest:
    server: https://selfservice.pureport.com
    token: xxxxxxx
  os:
    os_user: admin
    os_pass: secret
    os_authurl: http://internal-dev1-openstack-internal-lb-196366951.us-east-1.elb.amazonaws.com:5000/v3/ 
    os_tenant: admin 
    os_controller: internal-dev1-openstack-internal-lb-196366951.us-east-1.elb.amazonaws.com 
...
